---
import { tasteColorMapping } from "src/const";
import type { Taste } from "type";
import { cocktails } from "../../const/cocktails";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return cocktails.map((cocktail) => {
    return {
      params: {
        cocktail: cocktail.name.toLocaleLowerCase().replace(/[\s#\/]/g, "-"),
      },
      props: { cocktail },
    };
  });
}

const {
  cocktail: { name, timing, tastes, ingredients, preparation },
} = Astro.props;
---

<Layout title={`${name} - Cocktail`}>
  <section class={`pt-12 px-4 pb-2 ${tasteColorMapping[tastes[0]]}`}>
    <h1 class="text-3xl font-bold">{name}</h1>
    <span>{tastes.map((taste) => taste).join(", ")}</span>
  </section>
  {
   tastes.slice(1).map((taste) => {
    return <div class={`p-1 ${tasteColorMapping[taste]}`}></div>
   })
  }
  <section class="p-4">
    <p>Preparation: {preparation}</p>
    <p>Timing: {timing}</p>
    <h2 class="text-xl mt-6">Ingredients</h2>
    <ul>
      {
        ingredients.map(({ name, amount, unit }) => {
          return <li>{`${name} - ${amount} ${unit}`}</li>;
        })
      }
    </ul>
  </section>
</Layout>
