---
import { cocktails } from "../../cocktailStore";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return cocktails.map((cocktail) => {
    return {
      params: {
        cocktail: cocktail.name.toLocaleLowerCase().replace(/ /g, "-"),
      },
      props: { cocktail },
    };
  });
}

const {
  cocktail: { name, timing, taste, ingredients, preparation },
} = Astro.props;
---

<Layout title={name || "Cocktails"}>
  <h1 class="font-bold text-2xl">{name}</h1>
  <p>Timing: {timing}</p>
  <p>Taste: {taste}</p>
  <p>preparation: {preparation}</p>
  <h2 class="text-xl">Ingredients</h2>
  <ul>
    {
      ingredients.map(({ name, amount, unit }) => {
        return (
          <li>
            {`${name} - ${amount} ${unit}`}
          </li>
        );
      })
    }
  </ul>
</Layout>
