---
import { tasteColorMapping } from "src/const";
import { cocktails } from "../../const/cocktails";
import Layout from "../../layouts/Layout.astro";
import CocktailIngredientList from "@components/CocktailIngredientList";

export function getStaticPaths() {
  return cocktails.map((cocktail) => {
    return {
      params: {
        cocktail: cocktail.name.toLocaleLowerCase().replace(/[\s#\/]/g, "-"),
      },
      props: { cocktail },
    };
  });
}

const {
  cocktail: { name, timing, tastes, ingredients, catagory, iba, alcoholic, glass, instructions },
} = Astro.props;
---

<Layout title={`${name} - Cocktail`}>
  <section class={`-mt-16 pt-24 px-4 pb-2 ${tasteColorMapping[tastes[0]]}`}>
    <h1 class="text-3xl font-bold tracking-tight">{name}</h1>
    <span>{tastes.map((taste) => taste).join(", ")}</span>
  </section>
  {
   tastes.slice(1).map((taste) => {
    return <div class={`p-1 ${tasteColorMapping[taste]}`}></div>
   })
  }
  <section class="p-4 grid grid-cols-3 gap-4">
    {
      [
        {
          title: 'Catagory',
          value: catagory
        },
        {
          title: 'IBA',
          value: iba || 'None'
        },
        {
          title: 'Alcoholic',
          value: alcoholic
        },
        {
          title: 'Glass',
          value: glass
        }
      ].map(({ title, value }) => {
        return (
        <div>
          <h2 class="text-sm font-semibold">{title}</h2>
          <span>{value}</span>
        </div>
        )
      })
    }
  </section>
  
  <section class="p-4">
    <h2 class="text-sm font-semibold">Ingredients</h2>
    <CocktailIngredientList client:load ingredients={ingredients} />
  </section>

  <section class="p-4">
    <h2 class="text-sm font-semibold">Instructions</h2>
    {instructions}
  </section>
</Layout>
