---
// Component imports
import { SEO } from "astro-seo"
import '@fontsource-variable/inter';
import Footer from '@components/Footer.astro';

// Helper imports
import { seoConfig } from "@utils/seoConfig"
import Header from "@components/Header.astro";

export interface Props {
	/** Title of the page. */
	title: string

	/** Specific OpenGraph page title. */
	ogTitle?: string

	/** Description of the page. */
	description?: string

	/** Image thumbnail for the page. */
	image?: {
		url: string
		alt: string
	}

	/** Whether or not to disable indexing */
	disableIndexing?: boolean
}

const {
	title,
	ogTitle,
	description,
	image,
	disableIndexing = false
} = Astro.props as Props
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-8BFK0Q7B4P"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-8BFK0Q7B4P');
		</script>
		<!-- SEO. -->
		<SEO
			title={`${title} | ${seoConfig.siteName}`}
			description={seoConfig.description || description}
			noindex={disableIndexing}
			nofollow={disableIndexing}
			openGraph={{
				basic: {
					title: ogTitle || title,
					type: "website",
					image: seoConfig.image.url || image.url
				},
				image: {
					width: seoConfig.image.width,
					height: seoConfig.image.height,
					alt: seoConfig.image.alt || image.alt
				},
				optional: {
					siteName: seoConfig.siteName,
					description: seoConfig.description || description
				}
			}}
			twitter={{
				card: seoConfig.twitter.card
			}}
		/>
		<title>{title}</title>

		<!-- Global meta tags. -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Favicons. -->
		<link
			rel="apple-touch-icon"
			sizes="57x57"
			href="/mixologist/favicons/favicon-57x57.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="60x60"
			href="/mixologist/favicons/favicon-60x60.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="72x72"
			href="/mixologist/favicons/favicon-72x72.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="76x76"
			href="/mixologist/favicons/favicon-76x76.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="114x114"
			href="/mixologist/favicons/favicon-114x114.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="120x120"
			href="/mixologist/favicons/favicon-120x120.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="144x144"
			href="/mixologist/favicons/favicon-144x144.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="152x152"
			href="/mixologist/favicons/favicon-152x152.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/mixologist/favicons/favicon-180x180.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/mixologist/favicons/favicon-16x16.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/mixologist/favicons/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="96x96"
			href="/mixologist/favicons/favicon-96x96.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="192x192"
			href="/mixologist/favicons/favicon-192x192.png"
		/>
		<link
			rel="shortcut icon"
			type="image/x-icon"
			href="/mixologist/favicons/favicon.ico"
		/>
		<link rel="icon" type="image/x-icon" href="/mixologist/favicons/favicon.ico" />
		<meta name="msapplication-TileColor" content="#30E130" />
		<meta
			name="msapplication-TileImage"
			content="/mixologist/favicons/favicon-144x144.png"
		/>
		<meta name="msapplication-config" content="/browserconfig.xml" />
		<link rel="icon" type="image/svg+xml" href="/mixologist/favicons/favicon.svg" />
		<meta name="theme-color" content="#30E130" />

		<!-- Service worker registration. -->

		<script is:inline src="/mixologist/registerSW.js"></script>
		<link rel="manifest" href="/mixologist/manifest.webmanifest" />
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />

		<script>
			// This is a hack to get vite-plugin-pwa to generate a sw.js file.
			// Do not remove this script tag.
		</script>
	</body>
</html>
<script is:inline>
	const theme = (() => {
	  if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
		return localStorage.getItem("theme");
	  }
	  if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
		return "dark";
	  }
	  return "light";
	})();
  
	if (theme === "light") {
	  document.documentElement.classList.remove("dark");
	} else {
	  document.documentElement.classList.add("dark");
	}
	window.localStorage.setItem("theme", theme);
  </script>
<style is:global>

	:root {
		--body-light: #f2f5f2;
		--body-dark: #222921;
		--text-primary-light: black;
		--text-primary-dark: white;
		--color-card-chi: #30392d;
	}
	html {
		background-color: var(--body-light);
		color: var(--text-primary-light);
	}

	.bg-dynamic {
		background-color: var(--body-light);
	}

	.border-dynamic {
		border-color: var(--text-primary-light);
	}

	.dark {
		background-color: var(--body-dark);
		color: var(--text-primary-dark);

		& .bg-dynamic {
			background-color: var(--body-dark);
		}

		& .border-dynamic {
			border-color: var(--body-light);
		}
	}



	body {
		font-family: 'Inter Variable', sans-serif;
		margin-bottom: 60px;
	}
</style>
